.navbar {
    display: flex;
    background-color: rgb(255, 127, 197);
    padding: 20px 10px;
}

.navbar li {
    color: white;
    margin-right: 1em;
    text-decoration: none;
    transition: .4s;
}

.navbar li:hover {
    color: black;
}